In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/home/avinsah/Desktop/final year project/dataset/IIM Shillong.csv")

In [3]:
df

,Result Number,Author,Documents,"h-index Author metrics Scopus is adding an array of metrics for researchers. As an initial step, the h-index has been added. The h-graph is one way of displaying and comparing the productivity and impact of published work of scholars. It should only be used together with a mix of quantitative and qualitative metrics. More metrics will be added in the course of the year.",Affiliation,City,Country/Territory
0,1 26326030000 (i) on (i),"Upadhyay, Parijat Upadhyaya, Parijat",34.0,11.0,Indian Institute of Management Shillong,Shillong,India
1,NaN,View last title,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2 22433590700 (i) on (i),"Roychoudhury, Basav",24.0,7.0,Indian Institute of Management Shillong,Shillong,India
4,NaN,View last title,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
208,NaN,View last title,NaN,NaN,NaN,NaN,NaN
209,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,71 57190121848 (i) on (i),"Shukla, Neeti",1.0,0.0,Indian Institute of Management Shillong,Shillong,India
211,NaN,View last title,NaN,NaN,NaN,NaN,NaN
212,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.drop(['Result Number'],axis=1,inplace=True)

In [17]:
df.head()

,Author,Documents,"h-index Author metrics Scopus is adding an array of metrics for researchers. As an initial step, the h-index has been added. The h-graph is one way of displaying and comparing the productivity and impact of published work of scholars. It should only be used together with a mix of quantitative and qualitative metrics. More metrics will be added in the course of the year.",Affiliation,City,Country/Territory
0,"Upadhyay, Parijat Upadhyaya, Parijat",34.0,11.0,Indian Institute of Management Shillong,Shillong,India
1,"Roychoudhury, Basav",24.0,7.0,Indian Institute of Management Shillong,Shillong,India
2,"Joshi, Rohit",20.0,7.0,Indian Institute of Management Shillong,Shillong,India
3,"Pattusamy, Murugan",18.0,7.0,Indian Institute of Management Shillong,Shillong,India
4,"Choudhary, Kailash Choudhary, K.",17.0,9.0,Indian Institute of Management Shillong,Shillong,India

In [7]:
df.dropna(inplace=True)

In [16]:
df.head()

,Author,Documents,"h-index Author metrics Scopus is adding an array of metrics for researchers. As an initial step, the h-index has been added. The h-graph is one way of displaying and comparing the productivity and impact of published work of scholars. It should only be used together with a mix of quantitative and qualitative metrics. More metrics will be added in the course of the year.",Affiliation,City,Country/Territory
0,"Upadhyay, Parijat Upadhyaya, Parijat",34.0,11.0,Indian Institute of Management Shillong,Shillong,India
1,"Roychoudhury, Basav",24.0,7.0,Indian Institute of Management Shillong,Shillong,India
2,"Joshi, Rohit",20.0,7.0,Indian Institute of Management Shillong,Shillong,India
3,"Pattusamy, Murugan",18.0,7.0,Indian Institute of Management Shillong,Shillong,India
4,"Choudhary, Kailash Choudhary, K.",17.0,9.0,Indian Institute of Management Shillong,Shillong,India

In [14]:
df.reset_index(inplace = True, drop = True)

In [20]:
df.rename(columns={df.columns[2]:"h-index"},inplace=True)

In [21]:
df.head()

,Author,Documents,h-index,Affiliation,City,Country/Territory
0,"Upadhyay, Parijat Upadhyaya, Parijat",34.0,11.0,Indian Institute of Management Shillong,Shillong,India
1,"Roychoudhury, Basav",24.0,7.0,Indian Institute of Management Shillong,Shillong,India
2,"Joshi, Rohit",20.0,7.0,Indian Institute of Management Shillong,Shillong,India
3,"Pattusamy, Murugan",18.0,7.0,Indian Institute of Management Shillong,Shillong,India
4,"Choudhary, Kailash Choudhary, K.",17.0,9.0,Indian Institute of Management Shillong,Shillong,India

In [32]:

name=df.iloc[0][3]
df.to_csv(f'/home/avinsah/Desktop/final year project/cleaned datasets/{name}.csv')